@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: #1E0B2B; 
    color: white;
    margin: 0;
}


.text-gradient {
    background: linear-gradient(90deg, #FF00CC 0%, #333399 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    background: linear-gradient(90deg, #FF00CC 0%, #FACC15 100%);
}


#menu-toggle {
    display: none;
}
#menu-toggle:checked ~ #mobile-menu {
    display: block;
}